{% extends 'base.html' %}
{% load static %}

{% block title %}Crowd Status{% endblock %}
{% block content %}
    On this web page, we count how crowded the drakenkelderis.
    <hr>
    <h4>Room Status</h4>
    <div style="width:400px; background-color:lightgrey;  ">
        <div style-="margin: auto;">

            {% if open %}
                The Drakenkelder is open!<br/>
                {% if full %}
                    <img style="width:100px;" src="{% static 'images/light/yellow.png' %}"><br/>
                    The room is full :(
                {% else %}
                    <img style="width:100px;" src="{% static 'images/light/green.png' %}"><br/>
                    The room has {{ crowd }} people in the room, out of a maximum {{ max }}.
                {% endif %}
            {% else %}
                The Drakenkelder is closed!<br/>
                <img style="width:100px;" src="{% static 'images/light/red.png' %}">
            {% endif %}
        </div>
    </div>



    {% if not user.is_anonymous %}
        <hr>
        <h4>Change Status</h4>
        Since you're logged in, you can control the crowd status.<br />
        {{ crowd }}/{{ max }}

        <form method="post" action="#">
            {% csrf_token %}
            <input type="number" id="crowd" name="crowd" value="{{ crowd }}">
            <input type="submit" value="set">
        </form>
    {% endif %}
    <hr>
    The Drakenkelder is the association room of two associations at the University of Twente:
    <h5>Fanaat</h5>
    <a href="https://fanaat.utwente.nl">Fanaat</a> is the board games association at the University of Twente.
    <h5>Bellettrie</h5>
    <a href="https://bellettrie.utwente.nl">Bellettrie</a> is the library association at the University of Twente.
{% endblock %}