{% extends 'base.html' %}
{% load static %}


{% block title %}{% if POST %}Registration Succesful{% else %}Options for registering{% endif %}{% endblock %}
{% block content %}
    {% if POST %}

        {% else %}
        {% if warning %}<p style="color:red">{{ warning }}</p><hr>{% endif %}


        <h4>Please select what you want to do at Bellettrie.</h4>
        You're only allowed to pick up books if you have reserved a book. <br/>
        You're only allowed to hand in a book if you've lent out any books. <br />

        <form method="post" action="#">
        {% csrf_token %}
        <table>
            {% for option in options %}
                {% if option.capacity >= 0 %}
                    {% if option.used_capacity < option.capacity %}
                    <tr><td><label for="{{ option.pk }}">{{ option.name }}</label></td><td> <input type="radio" id="{{ option.id }}" name="{{ option.id }}"> ( {{ option.used_capacity }} / {{ option.capacity }} )</td></tr>
                        {% else  %}
                        <tr><td><label for="{{ option.pk }}">{{ option.name }}</label></td><td> <input disabled type="radio" id="{{ option.id }}" name="{{ option.id }}"> ( FULL  )</td></tr>
                        {% endif %}
                    {% else %}
            <tr><td><label for="{{ option.pk }}">{{ option.name }}</label></td><td> <input type="radio" id="{{ option.id }}" name="{{ option.id }}"></td></tr>
                {% endif %}
            {% endfor %}
        </table>
        <script>
            $(document).ready(function () {
    $('input[type=radio]').change(function() {
        // When any radio button on the page is selected,
        // then deselect all other radio buttons.
               $('input[type=radio]:checked').not(this).prop('checked', false);
    });
});
        </script>

        <button type="submit" class="btn btn-primary">Save</button>
        </form>
    {% endif %}
{% endblock %}