{% extends 'base.html' %}
{% load static %}
{% load futures %}
{% block title %}Register for Bellettrie{% endblock %}
{% block content %}
    Due to government regulations, visitors of Bellettrie need to register beforehand. If you want to visit Bellettrie during
    opening
    hours, you'll have to register. At the moment, we're only open for picking up books and returning them. If you have a
    specific situation, please contact the board.
    <a href="https://www.bellettrie.utwente.nl/pages/basic/reservations">this page</a> on the main website.
    <div class="row">

        <div class="card col-md-12  col-lg-12">
            <div class="card-body">
                <h5 class="card-title">Registrations</h5>
                {% if instance %}
                    <h6 class="card-subtitle mb-2 text-muted">Registration succesful!</h6>
                    <a href="{% url 'reserve' %}" class="card-link">Register another visit</a>
                    {% if instance != True %}
                        <head>
                            <meta http-equiv="refresh" content="0;url={% url 'reserved' %}">
                        </head>
                    {% endif %}
                {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Fill in the form</h6>
                    <p class="card-text">
                        Fill in your name and when you want to visit. Each timeslot has a limited capacity; if it's full,
                        please
                        select another one. For registering, the following rules apply:<br>
                    <ul>
                        <li>The timeslots open two days before a day</li>
                        <li>Timeslots close on the day before, at 16:00</li>
                        <li>Timeslots stay open if a timeslot isn't full yet, but isn't empty either.</li>
                    </ul>
                    The last rule is there, because we don't want our openers to have to keep the room open if nobody wants to
                    visit. <br>
                    Observe that on the day itself, it's possible to register for all timeslots on the day, even ones that
                    already
                    took place.
                    <form method="post" action='#'>
                        {% csrf_token %}
                        <table>
                            {% if name %}
                                <tr>
                                    <td>Name</td>
                                    <td>{% if p_id %}
                                        <a href="https://bellettrie.utwente.nl/members/{{ p_id }}">{{ name }}</a>{% else %}
                                        {{ name }}{% endif %}<input type="hidden" id="name" name="name" value="{{ name }}"> <a
                                            href="{% url 'logoutTemp' %}">logout</a></td>
                                </tr>

                            {% else %}
                                <tr>
                                    <td>Name</td>
                                    <td>{{ form.name }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Date</td>
                                <td>{{ form.date }}</td>
                            </tr>
                            <tr>
                                <td>Timeslot</td>
                                <td>{{ form.timeslot }}</td>
                            </tr>


                        </table>
                        <script>
                            vals = []
                            {% for k,v in tds.items %}
                                vals['{{ k }}'] = [new Option('---------', '', true, true){% for z in v %},new Option('{{ z.name }}', {{ z.pk}}){% endfor %}];

                            {% endfor %}
                            function run() {
                                cit = document.getElementById('id_timeslot')

                                cit.options.length = 0;
                                i = 0
                                for (v of vals[document.getElementById('id_date').value]) {
                                    console.log(v)
                                    cit.options[i] = v;
                                    i++
                                }
                            }

                            document.getElementById('id_date').onchange = function (val) {
                                run()
                            }
                            run();
                        </script>

                        <input type="submit" value="Register">
                    </form>
                    </p>
                {% endif %}
            </div>
        </div>
        {% if my_registrations %}
            <div class="card col-md-12  col-lg-12">
                <div class="card-body">
                    <h5 class="card-title">Registrations</h5>
                    <h3>My Registrations</h3>
                    <table>

                        <tr>
                            <th>Name</th>
                            <th>Timeslot Name</th>
                            <th>Date</th>
                            <td>Delete</td>
                        </tr>
                        {% for reg in my_registrations %}
                            <tr>
                                <td>{{ reg.get_name }}</td>
                                <td>{{ reg.timeslot }}</td>
                                <td>{{ reg.date }}</td>
                                <td><a href="{% url 'deleted' reg.pk %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        {% if perms.reservations.change_reservation %}
            {% reserve_view timeslots 0 %}
            {% reserve_view timeslots 1 %}
            {% reserve_view timeslots 2 %}
        {% endif %}
    </div>

    <h3>Privacy:</h3>
    This data will be visible to people who can open the room, until this data is removed by the system.<br/>
    The data submitted here will be stored for less than forty-eight hours after the end of the timeslot for which the
    registration
    was made.<br/>
    Besides this, our web committee has access to the data, in case of technical issues. The web committee also cannot
    access
    the data beyond forty-eight hours after the end of the timeslot.
{% endblock %}