{% extends 'base.html' %}
{% load static %}

{% block title %}Reserve for Bellettrie{% endblock %}
{% block content %}
    Due to government regulations, we have to work with reservations. If you want to visit Bellettrie during opening
    hours, you'll have to reserve. At the moment, we're only open for picking up books and returning them. If you have a
    specific situation, please contact the board.
    <a href="https://www.bellettrie.utwente.nl/pages/basic/reservations">this page</a> on the main website.

    <div class="row">
        <div class="card col-md-12  col-lg-6">
            <div class="card-body">
                <h5 class="card-title">How busy are Today's timeslots?</h5>
                <p class="card-text">
                <table>
                    <tr>
                        <th>Timeslot Name</th>
                        <th>In Use</th>
                        <th>Capacity</th>
                    </tr>
                    {% for timeslot in timeslots %}
                        {% if timeslot.is_on_today %}
                            {% if timeslot.get_len_res == timeslot.capacity %}
                                <tr>
                                    <td>{{ timeslot.name }}</td>
                                    <td colspan="2">FULL</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{ timeslot.name }}</td>
                                    <td>{{ timeslot.get_len_res }}</td>
                                    <td>{{ timeslot.capacity }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
                </p>


            </div>
        </div>

        <div class="card col-md-12  col-lg-6">
            <div class="card-body">
                <h5 class="card-title">Reservations</h5>
                {% if instance %}
                    <h6 class="card-subtitle mb-2 text-muted">Reservation succesful!</h6>
                    <a href="{% url 'reserve' %}" class="card-link">Reserve another</a>
                    {% if instance != True %}
                        <head>
                            <meta http-equiv="refresh" content="0;url={% url 'reserved' %}">
                        </head>
                    {% endif %}
                {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Fill in the form</h6>
                    <p class="card-text">
                        Fill in your name and when you want to visit. Each timeslot has a limited capacity; if it's full,
                        please
                        select another one. For reserving, the following rules apply:<br>
                    <ul>
                        <li>Reservations open two days before a day</li>
                        <li>Reservations close on the day before, at 16:00</li>
                        <li>Reservations stay open if a timeslot isn't full yet, but isn't empty either.</li>
                    </ul>
                    The last rule is there, because we don't want our openers to have to keep the room open if nobody wants to
                    visit. <br>
                    Observe that on the day itself, it's possible to reserve for all timeslots on the day, even ones that
                    already
                    took place. Therefore, it's meaningless to reserve for 13:00-13:30 if it's 14:00.
                    <form method="post" action='#'>
                        {% csrf_token %}
                        <table>
                            {{ form.as_table }}

                        </table>
                        <script>
                            vals = []
                            {% for k,v in tds.items %}
                                vals['{{ k }}'] = [new Option('---------', '', true, true){% for z in v %},new Option('{{ z.name }}', {{ z.pk}}){% endfor %}];

                            {% endfor %}
                            function run() {
                                cit = document.getElementById('id_timeslot')

                                cit.options.length = 0;
                                i = 0
                                for (v of vals[document.getElementById('id_date').value]) {
                                    console.log(v)
                                    cit.options[i] = v;
                                    i++
                                }
                            }

                            document.getElementById('id_date').onchange = function (val) {
                                run()
                            }
                            run();
                        </script>

                        <input type="submit" value="Register">
                    </form>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if perms.reservations.change_reservation %}
        <h3>Reservations</h3>
        {% for timeslot in timeslots %}
            {% if timeslot.is_on_today %}
                <h4>{{ timeslot.name }}</h4>
                <table>
                    <tr>
                        <th>Name</th>
                        {% for option in timeslot.get_options %}
                            <th>{{ option.name }}</th>
                        {% endfor %}
                        <td>Yeet</td>
                    </tr>
                    {% for reservation in timeslot.get_reservations %}
                        <tr>
                            <td>{{ reservation.name }}</td>
                            {% for option in reservation.get_options %}
                                <td>{% if option.value %}yes{% else %} no{% endif %}</td>
                            {% endfor %}
                            <td><a href="{% url 'deleted' reservation.pk %}">Yeet</a></td>

                        </tr>
                    {% empty %}
                        No Reservations for this timeslot; no opener needs to be present.
                    {% endfor %}
                </table>
            {% endif %}
        {% empty %}
            No timeslots require opening today
        {% endfor %}


        <h5 class="card-title">When do we need to open Tomorrow:?</h5>
        <p class="card-text">
        <table>

            {% for timeslot in timeslots_tmrw %}
                {% if forloop.first %}
                <tr>
                    <th>Timeslot Name</th>
                </tr>
            {% endif %}

                <tr>
                    <td>{{ timeslot.name }}</td>
                </tr>
            {% empty %}
                {% if after_time %}
                    <tr>
                        <td>No reservations for this day; no opener needs to be present</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>No reservations for this day yet, but someone can still reserve.</td>
                    </tr>
                {% endif %}


            {% endfor %}
        </table>
        </p>


        <h5 class="card-title">When do we need to open overmorrow?</h5>
        <p class="card-text">
        <table>

            {% for timeslot in timeslots_omrw %}
                {% if forloop.first %}
                    <tr>
                        <th>Timeslot Name</th>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ timeslot.name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No reservations for this timeslot yet, but someone can still reserve.</td>
                </tr>
            {% endfor %}
        </table>
        </p>

    {% endif %}
    <h3>Privacy:</h3>
    This data will be visible to people who can open the room, during the day for which the reservation was made.<br/>
    The fact that
    <i>somebody</i> reserved is visible to all openers from the moment of the reservation, until the reservation is removed
    from the system.
    <br/>
    The data submitted here will be stored for less than forty-eight hours after the end of the reservation.<br/>
    Besides this, our web committee has access to the data, in case of technical issues. The web committee also cannot access
    the data beyond forty-eight hours after the end of the reservation.
{% endblock %}